*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.vagrant
# YARD artifacts
.yardoc
_yardoc
doc/
bin-debug/
.actionScriptProperties
eq_ocr/lib/buckets/handwriting
 /vagrant/Tesseract/leptonica-1.69/
eq_ocr/config/crop*
eq_ocr/lib/public/crop*